@{
    ViewBag.Title = "Welkom";
}

<section id="courses" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Gidsen</h2>
                <p>
                    Wij hebben TV gidsen beschikbaar voor allerlei landen. <br />
                    Kies hieronder voor welk land je de programmering wilt zien.
                </p>
                <hr class="bottom-line">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 padleft-right">
                <figure class="imghvr-fold-up">
                    <img src="~/img/tv-flag-nl.jpg" class="img-responsive">
                    <figcaption>
                        <h3>Nederland</h3>
                        <p>Klik hier om de Nederlandse televisie gids te bekijken.</p>
                    </figcaption>
                    <a href="@Url.Action("Index", "Guide", new {country = "nl"})"></a>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 padleft-right">
                <figure class="imghvr-fold-up">
                    <img src="~/img/tv-flag-gb.jpg" class="img-responsive">
                    <figcaption>
                        <h3>Engeland</h3>
                        <p>Klik hier om de Engelse televisie gids te bekijken.</p>
                    </figcaption>
                    <a href="@Url.Action("Index", "Guide", new {country = "uk"})"></a>
                </figure>
            </div>
            <div class="col-md-4 col-sm-6 padleft-right">
                <figure class="imghvr-fold-up">
                    <img src="~/img/tv-flag-us.jpg" class="img-responsive">
                    <figcaption>
                        <h3>Verenigde Staten</h3>
                        <p>Klik hier om de televisie gids voor de Verenigde Staten te bekijken.</p>
                    </figcaption>
                    <a href="@Url.Action("Index", "Guide", new {country = "us"})"></a>
                </figure>
            </div>
        </div>
    </div>
</section>